@import '@fontsource/fira-mono';

* {
	box-sizing: border-box;
}

:root {
	/* font-body: 'Arial';
	font-mono: '"Fira Mono", monospace'; */
	font-size: '16px';
}

@media (max-width: 700px) {
	:root {
		font-size: calc(var(--font-size) + 2px);
	}
}

body {
	min-height: 100dvh;
	margin: 20px;
	background: var(--background);
	color: var(--color);
	background-size: 100dvw 100dvh;
}

a {
	color: var(--link);
	text-decoration: none;
}

@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}
